:root {
    --body-color : hsl(233, 47%, 7%);
    --image-color :hsl(277, 64%, 61%);
}

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: var(--body-color);
    font-family:"work Sans" , sans-serif;
}
@media (min-width : 767px)
{
    .container {
        width: 750px;
    }
}
@media (min-width : 992px)
{
    .container {
        width: 987px;
    }
}
@media (min-width : 1200px)
{
    .container {
        width: 1187px;
    }
}
.content {
    padding-bottom: 60px;
    padding-top: 60px;
}
.content .container {
    background-color: hsl(244, 37%, 16%);
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(400px , 1fr));
    margin: 50px auto;
    border-radius: 10px;
    

}
.content .container .col {
   height: 100%;
   width: 100%;
}
.content .container .col .image {
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background-color: var(--image-color);
    /* z-index: 5; */

}
.content .container .col .image img {
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    opacity: 0.52;
    
}
.content .container .col .image img:last-child{
    display: none;
}
.content  .container .col .text {
    padding: 60px;
    width: 90%;
}
.content  .container .col .text h1 {
    font-weight: 800;
    color:  hsl(0, 0%, 100%);
    margin-bottom: 30px;
}
.content  .container .col .text h1:first-child span {
    color:var(--image-color);
}
.content  .container .col .text p {
    line-height: 1.8;
    Font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    width: 80%;
}
.content  .container .col .text .info {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(100px , 1fr));
    gap: 20px;
    margin-top: 70px;
    
}
.content  .container .col .text .info p span:last-child {
    font-size: 15px;
    text-transform: capitalize;
    color: hsla(0, 0%, 100%, 0.6);

}
.content  .container .col .text .info p span:first-child {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: -5px;
}
@media (max-width :1200px)
{
    .content  .container .col .text .info {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        margin-top: 25px;
    }
}


@media (max-width:991.5px) {
    .content .container {
        display: flex;
        flex-direction: column-reverse;
    }
    .content .container .col .image img:first-child{
        display: none;
    }
    .content .container .col .image img:last-child {
        display: block;
        border-radius: 10px 10px 0px 0px;
        height: 300px;
    }
    .content .container .col .text {
        text-align: center;
        margin-left: 35px;
    }
    .content .container .col .text > p {
        margin-left: 55px;
    }
    .content .container .col .text .info{
        margin-left: 35px;
        gap: 56px;
        margin-top: 40px;
    }
}
@media (max-width:767px)
{
    .content .container .col .image img:first-child{
        display: none;
    }
    .content .container .col .image img:last-child {
        display: block;
        border-radius: 10px 10px 0px 0px;
        height: 200px;
    }
    .content {
        padding: 0;
    }
    .content .container {
        width: 325px;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
    }
    .content .container .col {
        width: 325px;

    }
    .content .container .col .text {
        width: 100%;
        text-align: center;
        padding: 20px;
        margin-left: 15px;
    }
    .content .container .col .text .info {
        grid-template-columns: 1fr;
        margin-left: -20px;
        justify-content: center;
        gap: 5px;
        margin-top: 30px;
    }
    .content  .container .col .text .info p span:first-child{
        display: block;
    }

    .container .col .text h1 {
        font-size: 25px;
        width: 90%;
    }
    .content .container .col .text p {
        width: 95%;
        margin: 0;
    }

}
